body {
    background-color: linen;
}

p {
    font-size: 1.2em;
    color: black;
}

footer {
    background-color: deepskyblue;
}

/* Classes */

.row {
    padding: 10px;
}

.question-counter {
    font-size: 1.7em;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.question-buttons {
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* The Modals (background) */
.rules-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.add-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.message-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.rules-modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.add-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* height: 90%; */
    border-radius: 10px;
}

.message-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* height: 90%; */
    border-radius: 10px;
}

.my-gif {
    width: 80%;
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    line-height: 0px;
    text-align: unset !important;
}

.rule-headline {
    font-weight: bold;
    margin-top: 20px;
}

.rule-exit-button {
    margin-bottom: 10px;
}

.question-area {
    overflow: auto; /* Enable scroll if needed */
}

/* Id */

#questionInputArea {
    border-radius: 10px;
    border-color: black;
    margin-bottom: 10px;
}

/* Media queries */

@media screen and (min-width: 500px) {
    #maindiv {
        padding: 0px 4rem;
    }
    .rules-exit-button {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width: 700px) {
    #maindiv {
        padding: 0px 8rem;
    }
    .modal {
        padding: 100px 4rem;
    }
    .rules-exit-button {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .modal-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1000px) {
    #maindiv {
        padding: 0px 15rem;
    }
    .modal {
        padding: 100px 8rem;
    }
    .rules-exit-button {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .modal-content {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1200px) {
    #maindiv {
        padding: 0px 20rem;
    }
    .modal {
        padding: 100px 12rem;
    }
    .rules-exit-button {
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .modal-content {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media screen and (min-width: 1500px) {
    #maindiv {
        padding: 0px 25rem;
    }
    .modal {
        padding: 100px 15rem;
    }
    .rules-exit-button {
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .modal-content {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (min-width: 1700px) {
    #maindiv {
        padding: 0px 30rem;
    }
    .modal {
        padding: 100px 20rem;
    }
    .rules-exit-button {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
